:root {
    /* Colors */
    --main-light: #af97ba;
    --dark--1: #756e92;
    --main-dark: #6c6390;
    --main-transparent: rgba(206, 194, 223, 0.75);
    --black: #000000;
}

h1, h2, h3 {
    text-align: center;
}

h4 {
    padding-left: 5px;
}

.pagewrapper {
    max-width: 720px;
    margin: auto;
    background-color: var(--main-transparent);
    padding: 10px;
    border-radius: 10px;
    line-height: 1.3;
    font-size: 1.1em;
}

.properties {
    text-align: center;
}

body {
    background-image: url(images/universe.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

p {
    padding: 0 20px 0 20px;
}

ul {
    list-style: none;
}

header nav ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--dark--1);
}

nav ul li {
    padding: 10px;
}

li a {
    text-decoration: none;
    list-style-type: none;
    padding: 5px;
    border: 2px solid var(--black);
    background-color: var(--main-light);
    border-radius: 5px;
    margin: 7px;
    color: var(--black);
}

li a:visited {
    background-color: var(--main-light);
}

li a:hover, li a:focus, li a:active {
    background-color: var(--main-dark);
}

table, th, td {
    border: 1px solid var(--black);
    border-collapse: collapse;
    padding: 10px;
    margin: 20px;
}