h1, h2, h3 {
    text-align: center;
}

.pagewrapper {
    max-width: 720px;
    margin: auto;
    background-color: rgba(206, 194, 223, 0.75);
    padding: 10px;
    border-radius: 10px;
}

.properties {
    text-align: center;
}

body {
    background-image: url(images/universe.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

p {
    padding: 0 20px 0 20px;
}

ul {
    list-style: none;
}

nav ul li {
    padding: 10px;
}

li a {
    text-decoration: none;
    list-style-type: none;
    padding: 5px;
    border: 2px solid #000000;
    background-color: #AF97BA;
    border-radius: 5px;
    margin: 7px;
    color: #000000;
}

li a:visited {
    background-color: #AF97BA;
}

li a:hover, li a:focus, li a:active {
    background-color: #6c6390;
}

table, th, td {
    border: 1px solid black;
}